# GitHub Packages registry for @f1r3fly-io scope
@f1r3fly-io:registry=https://npm.pkg.github.com

# Authentication for GitHub Packages (required even for public packages)
# Set NPM_TOKEN below. This only is required to install the lightning-bug package
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
